<html>
<head></head>
    <body>
    <form method="get" action="/adddata">
    Email:<input name="email" type="email"><br>
    Phone:<input name="number" type="number"><br>
    Name:<input name="name" type="text"><br>
    Password:<input name="pass" type="password"><br>
     <button type="submit">submit</button>
    </form>
    </body>
    </html>
